<main>
  <section class="common_header pt-0 text-center">
      <figure><img src="assets/img/heros/careers_banner.jpg" class="w-100"/></figure>
      <div class="maincontwrp">
          <div class="main-container">
              <div class="inner-container common">
                  <h1>Careers</h1>
              </div>
          </div>
      </div>
  </section>

  <section class="careers_features mt-0 bg--">
      <div class="main-container">
          <div class="inner-container">
              <article class="flow-rootx">
                  <h3 class="h3">Core Values</h3>
                  <p class="h5">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from.</p>
              </article>
              <div class="card_wrap">
                  <div class="card-style--5 flow-rootX2">
                      <figure><img src="assets/img/static/career_th1.jpg" class="w-100"/></figure>
                      <article class="flow-rootx2">
                          <h4 class="h4"><span class="c--lgrn">01.</span> Champion the Mission</h4>
                          <p>We’re united with our community to create a world where anyone can belong.</p>
                      </article>
                  </div>
                  <div class="card-style--5 flow-rootX2">
                      <figure><img src="assets/img/static/career_th2.jpg" class="w-100"/></figure>
                      <article class="flow-rootx2">
                          <h4 class="h4"><span class="c--lgrn">02.</span> Be a Host</h4>
                          <p>We're caring, open, and encouraging to everyone we work with.</p>
                      </article>
                  </div>
                  <div class="card-style--5 flow-rootX2">
                      <figure><img src="assets/img/static/career_th3.jpg" class="w-100"/></figure>
                      <article class="flow-rootx2">
                          <h4 class="h4"><span class="c--lgrn">03.</span> Embrace the Adventure</h4>
                          <p>We’re driven by curiosity, optimism, and the belief that every person can grow.</p>
                      </article>
                  </div>
                  <div class="card-style--5 flow-rootX2">
                      <figure><img src="assets/img/static/career_th4.jpg" class="w-100"/></figure>
                      <article class="flow-rootx2">
                          <h4 class="h4"><span class="c--lgrn">04.</span> Be a Serial Entrepreneur</h4>
                          <p>We’re determined and creative in transforming bold ambitions into reality.</p>
                      </article>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="og_office_tour mt-0 bg-- pt-0">
      <div class="main-container">
          <div class="inner-container">
              <div class="og__section--header">
                  <h2 class="h3">OurGuest office Tour </h2>
              </div>
              <section class="og_office_imgblk mt-0 bg--">
                  <div class="imrow">
                      <figure><img src="assets/img/static/office_tour_th1.jpg" class="w-100"/></figure>
                      <figure><img src="assets/img/static/office_tour_th2.jpg" class="w-100"/></figure>
                  </div>
                  <div class="imrow">
                      <figure><img src="assets/img/static/office_tour_th3.jpg" class="w-100"/></figure>
                      <figure><img src="assets/img/static/office_tour_th4.jpg" class="w-100"/></figure>
                  </div>
              </section>
              <div class="viewmore"><a href="">View More Pictures of Our Office</a></div>
          </div>
      </div>
  </section>

  <section class="og_livebest mt-0 bg--">
      <div class="stroke">
          <div class="main-container">
              <div class="inner-container">
                  <article class="flow-rootX2">
                      <h5 class="h5 c--lgrn">Benefits here</h5>
                      <h3 class="h3">You can live your best life</h3>
                      <p class="h6">There’s life at work and life outside of work. We want everyone to be healthy, travel often, get time to give back, and have the financial resources and support they need.</p>
                  </article>
                  <div class="iconswrp">
                      <div class="iconbox">
                          <div class="icon"><img src="assets/img/icons/og_livebest_icon1.png" /></div>
                          <p class="h6">Comprehensive<br> health plans</p>
                      </div>
                      <div class="iconbox">
                          <div class="icon"><img src="assets/img/icons/og_livebest_icon2.png" /></div>
                          <p class="h6">Paid volunteer<br> time</p>
                      </div>
                      <div class="iconbox">
                          <div class="icon"><img src="assets/img/icons/og_livebest_icon3.png" /></div>
                          <p class="h6">Healthy food and<br> snacks</p>
                      </div>
                      <div class="iconbox">
                          <div class="icon"><img src="assets/img/icons/og_livebest_icon4.png" /></div>
                          <p class="h6">Parental and family<br> leave</p>
                      </div>
                      <div class="iconbox">
                          <div class="icon"><img src="assets/img/icons/og_livebest_icon5.png" /></div>
                          <p class="h6">Learning and<br> development</p>
                      </div>
                      <div class="iconbox">
                          <div class="icon"><img src="assets/img/icons/og_livebest_icon6.png" /></div>
                          <p class="h6">Annual travel and<br> experiences credit</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="og_oppourtunities mt-0 bg--">
      <div class="main-container">
          <div class="inner-container">
              <div class="og__section--header">
                  <div class="flow-rootx3">
                      <p>Opportunities</p>
                      <h3 class="h3">Small teams, global mission</h3>
                  </div>
                  <form class="" action="javascript:">
                      <div class="ui-dropdown ml-auto value-selected">
                          <span class="ui-dropdown--selected" data-label="Select Locations">Select Locations</span>
                          <span class="ui-dropdown--reset" data-text="Select Locations"></span>
                          <div class="ui-dropdown--items">
                              <a data-val="Gangtok"></a>
                              <a data-val="Pelling"></a>
                              <a data-val="Namchi"></a>
                              <a data-val="Lachung"></a>
                              <a data-val="Lachen"></a>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="departmentwrap">
                  <div class="department flow-rootX2">
                      <h4 class="c--lgrn h4 fw--m">Departments</h4>
                      <ul>
                          <li>Administrative <span class="c--lgrn"><a href="javascript:">[2]</a></span></li>
                          <li>Business Operations/Analysis <span class="c--lgrn"><a href="javascript:">[2]</a></span></li>
                          <li>Community Support <span class="c--lgrn"><a href="javascript:">[2]</a></span></li>
                          <li>Design <span class="c--lgrn"><a href="javascript:">[2]</a></span></li>
                          <li>Employee Experience <span class="c--lgrn"><a href="javascript:">[2]</a></span></li>
                          <li>Finance & Accounting <span class="c--lgrn"><a href="javascript:">[2]</a></span></li>
                          <li>Intern <span class="c--lgrn"><a href="javascript:">[2]</a></span></li>
                          <li>Legal <span class="c--lgrn"><a href="javascript:">[2]</a></span></li>
                          <li>Marketing <span class="c--lgrn"><a href="javascript:">[2]</a></span></li>
                          <li>Operations <span class="c--lgrn"><a href="javascript:">[2]</a></span></li>
                          <li>Program Management <span class="c--lgrn"><a href="javascript:">[2]</a></span></li>
                          <li>Public Policy/Communications <span class="c--lgrn"><a href="javascript:">[2]</a></span></li>
                          <li>Worldwide Sales Operations <span class="c--lgrn"><a href="javascript:">[2]</a></span></li>
                      </ul>
                  </div>
                  <div class="featured_roles flow-rootX2">
                  <h4 class="c--lgrn h4 fw--m">Featured Roles</h4>
                  <div class="roleswrap">
                  <article class="flow-rootx">
                      <h5 class="h5"><a href="javascript:">Senior Marketing Lead, Brand </a></h5>
                      <p>Yangkhor, below Denzong Regency Hotel Upper, Jeewan Theeng Marg, Sungava, Gangtok, Sikkim</p>
                  </article>
                  <article class="flow-rootx">
                      <h5 class="h5"><a href="javascript:">Senior Marketing Lead, Brand </a></h5>
                      <p>Yangkhor, below Denzong Regency Hotel Upper, Jeewan Theeng Marg, Sungava, Gangtok, Sikkim</p>
                  </article>
                  <article class="flow-rootx">
                      <h5 class="h5"><a href="javascript:">Senior Marketing Lead, Brand </a></h5>
                      <p>Yangkhor, below Denzong Regency Hotel Upper, Jeewan Theeng Marg, Sungava, Gangtok, Sikkim</p>
                  </article>
                  <article class="flow-rootx">
                      <h5 class="h5"><a href="javascript:">Senior Marketing Lead, Brand </a></h5>
                      <p>Yangkhor, below Denzong Regency Hotel Upper, Jeewan Theeng Marg, Sungava, Gangtok, Sikkim</p>
                  </article>
                  </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
