<section class="og__newsletter mt-0 bg--">
  <div class="main-container">
    <div class="inner-container">
      <div class="lefticon">
        <img src="assets/img/icons/newsletter_og.png" />
      </div>
      <div class="right_article">
        <article class="flow-rootX2">
          <h3 class="h3">
            Subscribe to OURGUEST.in to get latest offers and deals
          </h3>
          <h4 class="h4 c--light-txt">
            Come and travel with us. We will show you the hidden details of
            Himalayas.
          </h4>
          <form class="og--newsletterForm" action="javascript:">
            <div class="form-element">
              <input
                class="form-field"
                type="text"
                placeholder="Email Address"
              />
            </div>
            <button
              type="submit"
              class="btn size:expandedX bg--white outline c--lgrn hvr:bg--lgrn hvr:c--white"
            >
              Subscribe
            </button>
          </form>
        </article>
      </div>
      <div class="outlinetxt">
        <img src="assets/img/static/outline_newsletter.png" />
      </div>
    </div>
  </div>
</section>
