<main>
  <section class="common_header pt-0 text-center">
      <!-- <figure><img src="assets/img/heros/place_details_banner.jpg" class="w-100"/></figure> -->
      <div class="videowrapperinside">
      <iframe class="vimeo-iframe" src="https://player.vimeo.com/video/73663607?autoplay=1&amp;loop=1&amp;muted=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;background=1&amp;autopause=0" allow="autoplay; encrypted-media" allowfullscreen="" data-keepplaying="" width="100%" height="100%" frameborder="0"></iframe>
      </div>
      <div class="maincontwrp">
          <div class="main-container">
              <div class="inner-container common">
                  <h1>Gangtok</h1>
              </div>
          </div>
      </div>
  </section>

  <section class="stories mt-0 flow-rootx">
      <div class="main-container">
          <div class="inner-container d-block">
              <div class="og__section--header align-items-start">
                  <div class="flow-rootx3">
                      <h3 class="h3">Glimpses of Gangtok</h3>
                      <p class="c--light-txt">Sikkim, India</p>
                  </div>
                  <div class="share__panel">
                      <p>Share <img src="assets/img/icons/share.svg"></p>
                      <ul>
                          <li class="facebook"><a href="javascript:void(0)"><img src="assets/img/icons/footer/facebook.svg"></a></li>
                          <li class="twitter"><a href="javascript:void(0)"><img src="assets/img/icons/footer/twitter.svg"></a></li>
                          <li class="linkedin"><a href="javascript:void(0)"><img src="assets/img/icons/footer/linkedin.svg"></a></li>
                          <li class="whatsapp"><a href="javascript:void(0)"><img src="assets/img/icons/footer/whatsapp.svg"></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="inner-container mt-2">
              <div class="summary">
                  <div class="details border-none">
                      <div class="static-content max_width_100 ">
                          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,</p>
                          <p>and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                          <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                      </div>
                  </div>
              </div>
              <div class="aside">
                  <div class="best__price__container bg--lgrn less-rounded p-2 text-center">
                      <div class="best__price less-rounded">
                          <small class="c--white">Price starts from</small>
                          <h2 class="c--white medium">₹ 2,800 / night</h2>
                          <hr class="hr">
                          <h3 class="c--white">Best Time to Visit</h3>
                          <p class="c--white medium mb-0">20Mar-20Feb</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="og__top_attraction bg--lgraybg mt-0 bg--">
      <div class="main-container">
          <div class="inner-container flow-rootX2">
              <div class="og__section--header mb-2 pb-2">
                  <h3 class="h3">Top Attractions</h3>
                  <!-- swipe nav -->
                  <div class="swiper-nav">
                      <div class="swiper-button-prev swiper_4--prev"></div>
                      <div class="swiper-button-next swiper_4--next"></div>
                  </div>
              </div>
              <div class="w-100 swiper swiper_4">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="card-style--5 flow-rootX2">
                              <figure>
                                  <img src="assets/img/static/place-1.jpg" alt="Rumtek" title="Rumtek"/>
                              </figure>
                              <article class="flow-rootx2">
                                  <span class="c--lgrn d-inline-block h5">Rumtek</span>
                                  <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                              </article>
                          </div>
                      </div>

                      <div class="swiper-slide">
                          <div class="card-style--5 flow-rootX2">
                              <figure>
                                  <img src="assets/img/static/place-2.jpg" alt="Nathula Pass" title="Nathula Pass"/>
                              </figure>
                              <article class="flow-rootx2">
                                  <span class="c--lgrn d-inline-block h5">Nathula Pass</span>
                                  <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                              </article>
                          </div>
                      </div>

                      <div class="swiper-slide">
                          <div class="card-style--5 flow-rootX2">
                              <figure>
                                  <img src="assets/img/static/place-3.jpg" alt="Tsomgo Lake" title="Tsomgo Lake"/>
                              </figure>
                              <article class="flow-rootx2">
                                  <span class="c--lgrn d-inline-block h5">Tsomgo Lake</span>
                                  <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                              </article>
                          </div>
                      </div>

                      <div class="swiper-slide">
                          <div class="card-style--5 flow-rootX2">
                              <figure>
                                  <img src="assets/img/static/place-1.jpg" alt="Rumtek" title="Rumtek"/>
                              </figure>
                              <article class="flow-rootx2">
                                  <span class="c--lgrn d-inline-block h5">Rumtek</span>
                                  <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                              </article>
                          </div>
                      </div>

                      <div class="swiper-slide">
                          <div class="card-style--5 flow-rootX2">
                              <figure>
                                  <img src="assets/img/static/place-2.jpg" alt="Nathula Pass" title="Nathula Pass"/>
                              </figure>
                              <article class="flow-rootx2">
                                  <span class="c--lgrn d-inline-block h5">Nathula Pass</span>
                                  <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                              </article>
                          </div>
                      </div>

                      <div class="swiper-slide">
                          <div class="card-style--5 flow-rootX2">
                              <figure>
                                  <img src="assets/img/static/place-3.jpg" alt="Tsomgo Lake" title="Tsomgo Lake"/>
                              </figure>
                              <article class="flow-rootx2">
                                  <span class="c--lgrn d-inline-block h5">Tsomgo Lake</span>
                                  <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                              </article>
                          </div>
                      </div>

                  </div>
              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
          </div>
      </div>
  </section>

  <section class="stories mt-0 flow-rootx">
      <div class="main-container">
          <div class="inner-container pb-3 border-bottom-1">
              <div class="summary">
                  <div class="details border-none">
                      <div class="static-content max_width_100 mb-0">
                          <h2 class="h2 mb-2">Gangtok Travel Tips</h2>
                          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,</p>
                          <p>and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                          <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
                          <h2 class="h2 mb-2 mt-3">Gangtok Facts</h2>
                          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage,</p>
                          <p>and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                          <h2 class="h2 mb-2 mt-3">How to Reach</h2>
                          <div class="travel">
                              <figure><img src="assets/img/icons/flight.svg"></figure>
                              <article>By Air</article>
                          </div>
                          <p>Gangtok is 150 kms approximately away from the nearest airport i.e. Bagdogra Airport(IXB). Flights are available from all major cities.It takes one couple of hours to travel from Bagdogra to Gangtok. On the way you can experience the beauty of the himalayan roads, rivers, hills, tea gardens and Green Valleys.</p>
                          <div class="travel">
                              <figure><img src="assets/img/icons/train.svg"></figure>
                              <article>By Train</article>
                          </div>
                          <p>The new Jalpaiguri Railway Station is the closest broad gauge railway station from Gangtok that connects to all other major cities in India.</p>
                      </div>
                  </div>
              </div>
              <div class="aside scenecardwrp">
                  <div class="scene__card mb-3">
                      <figure><img src="assets/img/static/place-v-1.jpg"></figure>
                      <article>
                          <h3>Book <br>Homestays</h3>
                          <a href="destination_listing.php" class="btn bg--lgrn c--white hvr:bg--dgrn">EXPLORE</a>
                      </article>
                  </div>
                  <div class="scene__card">
                      <figure><img src="assets/img/static/place-v-2.jpg"></figure>
                      <article>
                          <h3>Tour <br>Packages</h3>
                          <a href="tour_listings.php" class="btn bg--lgrn c--white hvr:bg--dgrn">EXPLORE</a>
                      </article>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="popular_places bg-- mt-0">
      <div class="main-container">
          <div class="inner-container flow-rootX3">
              <div class="og__section--header flow-rootX2">
                  <div class="flow-rootx3">
                      <h3 class="h3">Popular Places Around</h3>
                      <p>You can also visit this places</p>
                  </div>
                  <a href="destination_listing.php" class="btn bg--lgrn c--white hvr:bg--dgrn size:expandedX">VIEW ALL DESTINATIONS</a>
              </div>
              <div class="grid-4">
                  <div class="card-style--3 flow-rootx">
                      <figure>
                      <a href="places-details.php"><img src="assets/img/static/xp-5.jpg" alt="Namchi" title="Namchi"></a>
                      </figure>
                      <figcaption>
                          <h4 class="h5"><a href="places-details.php">Namchi</a></h4>
                          <a class="link-arw" href="places-details.php"><img src="assets/img/icons/arrow-rightG.svg"></a>
                      </figcaption>
                  </div>

                  <div class="card-style--3 flow-rootx">
                      <figure>
                      <a href="places-details.php"><img src="assets/img/static/xp-6.jpg" alt="Yaksom" title="Yaksom"></a>
                      </figure>
                      <figcaption>
                          <h4 class="h5"><a href="places-details.php">Yaksom</a></h4>
                          <a class="link-arw" href="places-details.php"><img src="assets/img/icons/arrow-rightG.svg"></a>
                      </figcaption>
                  </div>

                  <div class="card-style--3 flow-rootx">
                      <figure>
                      <a href="places-details.php"><img src="assets/img/static/xp-7.jpg" alt="Pelling" title="Pelling"></a>
                      </figure>
                      <figcaption>
                          <h4 class="h5"><a href="places-details.php">Pelling</a></h4>
                          <a class="link-arw" href="places-details.php"><img src="assets/img/icons/arrow-rightG.svg"></a>
                      </figcaption>
                  </div>

                  <div class="card-style--3 flow-rootx">
                      <figure>
                      <a href="places-details.php"><img src="assets/img/static/xp-8.jpg" alt="Lachung" title="Lachung"></a>
                      </figure>
                      <figcaption>
                          <h4 class="h5"><a href="places-details.php">Lachung</a></h4>
                          <a class="link-arw" href="places-details.php"><img src="assets/img/icons/arrow-rightG.svg"></a>
                      </figcaption>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
