<section class="popular_places bg-- mt-0">
  <div class="main-container">
      <div class="inner-container flow-rootX3">
          <div class="og__section--header flow-rootX2">
              <div class="flow-rootx3">
                  <h3 class="h3">Popular Places Around</h3>
                  <p>You can also visit this places</p>
              </div>
              <a  (click)="test()" class="btn bg--lgrn c--white hvr:bg--dgrn size:expandedX">VIEW ALL DESTINATIONS</a>
          </div>
          <div class="grid-4">
              <div class="card-style--3 flow-rootx">
                  <figure>
                  <a href="places-details.php"><img src="assets/img/static/xp-5.jpg" alt="Namchi" title="Namchi"></a>
                  </figure>
                  <figcaption>
                      <h4 class="h5"><a href="places-details.php">Namchi</a></h4>
                      <a class="link-arw" href="places-details.php"><img src="assets/img/icons/arrow-rightG.svg"></a>
                  </figcaption>
              </div>

              <div class="card-style--3 flow-rootx">
                  <figure>
                  <a href="places-details.php"><img src="assets/img/static/xp-6.jpg" alt="Yaksom" title="Yaksom"></a>
                  </figure>
                  <figcaption>
                      <h4 class="h5"><a href="places-details.php">Yaksom</a></h4>
                      <a class="link-arw" href="places-details.php"><img src="assets/img/icons/arrow-rightG.svg"></a>
                  </figcaption>
              </div>

              <div class="card-style--3 flow-rootx">
                  <figure>
                  <a href="places-details.php"><img src="assets/img/static/xp-7.jpg" alt="Pelling" title="Pelling"></a>
                  </figure>
                  <figcaption>
                      <h4 class="h5"><a href="places-details.php">Pelling</a></h4>
                      <a class="link-arw" href="places-details.php"><img src="assets/img/icons/arrow-rightG.svg"></a>
                  </figcaption>
              </div>

              <div class="card-style--3 flow-rootx">
                  <figure>
                  <a href="places-details.php"><img src="assets/img/static/xp-8.jpg" alt="Lachung" title="Lachung"></a>
                  </figure>
                  <figcaption>
                      <h4 class="h5"><a href="places-details.php">Lachung</a></h4>
                      <a class="link-arw" href="places-details.php"><img src="assets/img/icons/arrow-rightG.svg"></a>
                  </figcaption>
              </div>
          </div>
      </div>
  </div>
</section>
