<main>
  <section class="common_header pt-0 text-center">
      <!-- <figure><img src="assets/img/heros/stories_banner.jpg" class="w-100"/></figure> -->
      <div class="videowrapperinside">
      <iframe class="vimeo-iframe" src="https://player.vimeo.com/video/73663607?autoplay=1&amp;loop=1&amp;muted=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;background=1&amp;autopause=0" allow="autoplay; encrypted-media" allowfullscreen="" data-keepplaying="" width="100%" height="100%" frameborder="0"></iframe>
      </div>
      <div class="maincontwrp">
          <div class="main-container">
              <div class="inner-container common">
                  <h1>Our Stories</h1>
              </div>
          </div>
      </div>
  </section>

  <section class="stories mt-0 flow-rootx">
      <div class="main-container">
          <div class="inner-container">
              <div class="summary">
              <div class="searchfilter">
                      <form class="searchForm allForm">
                          <div class="stories__search">
                              <div class="search--box">
                                  <div class="form-element">
                                      <input type="text" class="form-field">
                                      <label class="form-label">Refine Your Search</label>
                                  </div>
                                  <div class="form-element">
                                      <button type="button"><img src="assets/img/icons/search.png"></button>
                                  </div>
                              </div>
                              <div class="actionswrp">
                                  <div class="radio__container">
                                  <label class="radio">All
                                      <input type="radio" checked="checked" name="radio">
                                      <span class="checkmark"></span>
                                  </label>
                                  <label class="radio">Tours
                                      <input type="radio" name="radio">
                                      <span class="checkmark"></span>
                                  </label>
                                  <label class="radio">Experiences
                                      <input type="radio" name="radio">
                                      <span class="checkmark"></span>
                                  </label>
                                  <label class="radio">Stay
                                      <input type="radio" name="radio">
                                      <span class="checkmark"></span>
                                  </label>
                                  </div>
                                  <div class="actions">
                                      <div class="ui-dropdown">
                                          <span class="ui-dropdown--selected" data-label="Category">Select State</span>
                                          <span class="ui-dropdown--reset" data-text="Select State"></span>
                                          <div class="ui-dropdown--items">
                                              <a data-val="All"></a>
                                              <a data-val="Sikkim"></a>
                                              <a data-val="Darjeeling"></a>
                                              <a data-val="Arunachal Pradesh"></a>
                                              <a data-val="Nagaland"></a>
                                              <a data-val="Assam"></a>
                                              <a data-val="Meghalaya"></a>
                                              <a data-val="Bhutan"></a>
                                          </div>
                                      </div>
                                      <div class="ui-dropdown last">
                                          <span class="ui-dropdown--selected" data-label="Category">Sort By</span>
                                          <span class="ui-dropdown--reset" data-text="Sort By"></span>
                                          <div class="ui-dropdown--items">
                                              <a data-val="All"></a>
                                              <a data-val="Date"></a>
                                              <a data-val="Rating"></a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
                  <div class="stories__blcks">
                      <div class="__story mb-2">
                          <figure><a routerLink="details/xyz"><img src="assets/img/static/post-1.jpg"></a></figure>
                          <article class="flow-rootx">
                              <span class="tag">Travel</span>
                              <h3 class="h4"><a  routerLink="details/xyz">Winter of the Unassuming Matriarch My Experience at PhaMa Homes</a></h3>
                              <div class="date">
                                  <span>February 4th, 2022</span>
                                  <span>5 min read</span>
                              </div>
                          </article>
                      </div>
                      <div class="__story mb-2">
                          <figure><a  routerLink="details/xyz"><img src="assets/img/static/post-2.jpg"></a></figure>
                          <article class="flow-rootx">
                              <span class="tag">Featured</span>
                              <h3 class="h4"><a  routerLink="details/xyz">Ani Gumpa Nunnery, Ranka</a></h3>
                              <div class="date">
                                  <span>February 4th, 2022</span>
                                  <span>5 min read</span>
                              </div>
                          </article>
                      </div>
                      <div class="__story mb-2">
                          <figure><a routerLink="details/xyz"><img src="assets/img/static/post-3.jpg"></a></figure>
                          <article class="flow-rootx">
                              <span class="tag">Featured</span>
                              <h3 class="h4"><a routerLink="details/xyz">Mawryngkhang Trek</a></h3>
                              <div class="date">
                                  <span>February 4th, 2022</span>
                                  <span>5 min read</span>
                              </div>
                          </article>
                      </div>
                      <div class="__story mb-2">
                          <figure><a routerLink="details/xyz"><img src="assets/img/static/post-4.jpg"></a></figure>
                          <article class="flow-rootx">
                              <span class="tag">Featured</span>
                              <h3 class="h4"><a routerLink="details/xyz">WLashar Valley Tour | The Yak Race</a></h3>
                              <div class="date">
                                  <span>February 4th, 2022</span>
                                  <span>5 min read</span>
                              </div>
                          </article>
                      </div>
                  </div>
                  <div class="pagination">
                      <ul>
                          <li class="arrow-left"><a href="javascript:void(0)"><img src="assets/img/icons/arrow-leftG.svg"></a></li>
                          <li class="active"><a href="javascript:void(0)">1</a></li>
                          <li><a href="javascript:void(0)">2</a></li>
                          <li><a href="javascript:void(0)">3</a></li>
                          <li class="extend"><a href="javascript:void(0)">...</a></li>
                          <li class="more-numbers"><a href="javascript:void(0)">50</a></li>
                          <li class="arrow-right"><a href="javascript:void(0)"><img src="assets/img/icons/arrow-rightG.svg"></a></li>
                      </ul>
                  </div>
              </div>
              <div class="aside">
                  <div class="featured__container">
                      <h3 class="aside__title">Featured in OurGuest 2022</h3>
                      <div class="__guest_block mb-2">
                          <figure><a href="places-details.php"><img src="assets/img/static/featured-1.jpg"></a></figure>
                          <article>
                              <h4>Sikkim</h4>
                              <p>North East India State</p>
                          </article>
                      </div>
                      <div class="__guest_block mb-2">
                          <figure><a href="places-details.php"><img src="assets/img/static/featured-2.jpg"></a></figure>
                          <article>
                              <h4>Darjeeling</h4>
                              <p>North East India State</p>
                          </article>
                      </div>
                      <div class="__guest_block mb-2">
                          <figure><a href="places-details.php"><img src="assets/img/static/featured-3.jpg"></a></figure>
                          <article>
                              <h4>Nagaland</h4>
                              <p>North East India State</p>
                          </article>
                      </div>
                      <div class="__guest_block mb-2">
                          <figure><a href="places-details.php"><img src="assets/img/static/featured-4.jpg"></a></figure>
                          <article>
                              <h4>Kalimpong</h4>
                              <p>North East India State</p>
                          </article>
                      </div>
                      <div class="viewmore"><a href="places_listings.php">View More</a></div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
