<main>
  <section class="common_header pt-0 text-center">
      <figure><img src="assets/img/heros/contact_banner.jpg" alt="" class="w-100"/></figure>
      <div class="maincontwrp">
          <div class="main-container">
              <div class="inner-container flow-rootx contact">
                  <h5 class="h5">Discover the answers you're looking for</h5>
                  <h1 class="h2">What can we help you with?</h1>
              </div>
          </div>
      </div>
  </section>

  <section class="og_contact_cardswrap">
      <div class="main-container">
          <div class="inside-container">
              <div class="item flow-rootX6">
                  <div class="icon"><img src="assets/img/icons/contact_i1.png" alt="" /></div>
                  <article class="flow-rootX2">
                      <h4 class="h4 fw--m">Help & Support</h4>
                      <p>Get help with online shop orders, ebooks, newsletters, and more.</p>
                  </article>
              </div>
              <div class="item flow-rootX6">
                  <div class="icon"><img src="assets/img/icons/contact_i2.png" alt="" /></div>
                  <article class="flow-rootX2">
                      <h4 class="h4 fw--m">Feedback</h4>
                      <p>We love feedback. Good or bad! Send us feedback from here.</p>
                  </article>
              </div>
              <div class="item flow-rootX6">
                  <div class="icon"><img src="assets/img/icons/contact_i3.png" alt="" /></div>
                  <article class="flow-rootX2">
                      <h4 class="h4 fw--m">Your Business</h4>
                      <p>Do you have a business you'd like listed? Already listed but need to update your details?</p>
                  </article>
              </div>
          </div>
      </div>
  </section>

  <section class="og_contactform bg-- mt-0">
      <div class="main-container">
          <div class="inner-container">
              <div class="contactform_header text-center">
                  <article class="flow-rootX2">
                      <h5 class="h5">Other Enquiries</h5>
                      <h2 class="h2">Got a different question?<br>
                      Here's where to find what you need.</h2>
                  </article>
              </div>
              <div class="formwrap">
                  <form class="form-style">
                      <div class="form-element">
                          <label class="form-label required">First Name <b class="starmark">*</b></label>
                          <input type="text" class="form-field">
                      </div>
                      <div class="form-element">
                          <label class="form-label required">Last Name <b class="starmark">*</b></label>
                          <input type="text" class="form-field">
                      </div>
                      <div class="form-element">
                          <label class="form-label required">Email <b class="starmark">*</b></label>
                          <input type="text" class="form-field">
                      </div>
                      <div class="form-element">
                          <label class="form-label required">Phone Number <b class="starmark">*</b></label>
                          <input type="text" class="form-field">
                      </div>
                      <div class="form-element form-elementTxtarea">
                          <textarea class="form-field" name="message" id="message" maxlength="300"></textarea>
                          <!-- <i id="" class="error">This field is required.</i> -->
                          <label class="form-label">Share your message here <b class="starmark">*</b></label>
                      </div>
                      <div class="check_list">
                          <label for="styled-checkbox-10" class="container">
                          <input class="styled-checkbox" name="agreement" id="styled-checkbox-10" type="checkbox" value="value10">
                          Subscribe to receive best deals on tours and properties. By clicking on Submit you agree to receive sms & email with best deals.
                          <span class="checkmark"></span>
                          </label>
                      </div>
                      <div class="form-flexsb">
                      <div class="form-elementCaptcha">
                          <span><b class="starmark">*</b> Type the result</span>
                      <span id="n1">18</span>
                      <span>+</span>
                      <span id="n2">12</span>
                      <span>=</span>
                      <span><input type="text" class="captcha" name="capt" id="capt" value="" maxlength="2"></span>
                      </div>
                          <div class="form-btnelement">
                          <button type="submit" class="btn bg--lgrn c--white hvr:bg--dgrn size:expandedX" id="">Submit</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>

  <section class="og_travelling bg-- mt-0">
      <div class="main-container">
          <div class="inner-container">
              <article class="flow-rootX3 text-center c--white">
                  <h2 class="h2">Traveling - It Leaves You Speechless, Then Turns You Into a Storyteller.</h2>
                  <p>OurGuest strives to provide its guests the dream tour and stay experience. We work with a very passionate<br> and experienced team who leave no stone unturned to ensure our guests return home with great<br> satisfaction and memories to last a lifetime.</p>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30703094.980518598!2d64.43969385234843!3d20.053106555097216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1646138790899!5m2!1sen!2sin" width="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  <address class="">
                      <div class="block">
                          <h4 class="h4 c--lgrn">Address</h4>
                          <p>Yangkhor, below Denzong Regency Hotel Upper, Jeewan Theeng Marg, Sungava, Gangtok, Sikkim 737101</p>
                      </div>
                      <div class="block">
                          <h4 class="h4 c--lgrn">Phone</h4>
                          <p><a href="tel:919734813101">+91 97348 13101</a> / <a href="tel:7031272572">+91 70312 72572</a></p>
                      </div>
                      <div class="block">
                          <h4 class="h4 c--lgrn">Email</h4>
                          <p><a href="mailto:contact@ourguest.in">contact@ourguest.in</a></p>
                      </div>
                  </address>
              </article>
          </div>
      </div>
  </section>
</main>
