<main>
  <section class="common_header pt-0 text-center">
      <!-- <figure><img src="assets/img/heros/destination_banner.jpg" class="w-100"/></figure> -->
      <div class="videowrapperinside">
      <iframe class="vimeo-iframe" src="https://player.vimeo.com/video/73663607?autoplay=1&amp;loop=1&amp;muted=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;background=1&amp;autopause=0" allow="autoplay; encrypted-media" allowfullscreen="" data-keepplaying="" width="100%" height="100%" frameborder="0"></iframe>
      </div>
      <div class="maincontwrp">
          <div class="main-container">
              <div class="inner-container destination">
                  <h5 class="h5">Explore places in</h5>
                  <h1>Darjeeling</h1>
              </div>
          </div>
      </div>
  </section>

  <section class="og_destination_search mt-0 pt-0 bg--">
      <div class="main-container">
          <div class="inner-container">
              <div class="ins">
              <form class="og_destinationsrch" action="javascript:">
                  <div class="frmwrp">
                  <div class="form-element">
                      <p class="form-head">Destination</p>
                      <input class="form-field" type="text" placeholder="Darjeeling"/>
                  </div>

                  <div class="form-element">
                      <p class="form-head">From - To</p>
                      <input class="form-field" type="text" placeholder="25-27 Feb, 2022"/>
                  </div>

                  <div class="form-element">
                      <p class="form-head">Visitors</p>
                      <input class="form-field" type="text" placeholder="Guest"/>
                  </div>
                  </div>

                  <button type="submit" class="btn bg--lgrn c--white hvr:bg--dgrn">Modify <img src="assets/img/icons/search.svg"/></button>
              </form>
              </div>
          </div>
      </div>
  </section>

  <section class="og__sections bg-- mt-0 pt-0">
      <div class="main-container">
          <div class="inner-container flow-rootX3">
              <div class="og__section--header">
                  <div class="searchfilter">
                      <form class="searchForm allForm">
                          <div class="stories__search">
                              <div class="search--box">
                                  <div class="form-element">
                                      <input type="text" class="form-field">
                                      <label class="form-label">Refine Your Search</label>
                                  </div>
                                  <div class="form-element">
                                      <button type="button"><img src="assets/img/icons/search.png"></button>
                                  </div>
                              </div>
                              <div class="actionswrp">
                                  <div class="actions desti_list">
                                      <div class="ui-dropdown">
                                          <span class="ui-dropdown--selected" data-label="Find in">Type of Place</span>
                                          <span class="ui-dropdown--reset" data-text="Type of Place"></span>
                                          <div class="ui-dropdown--items">
                                              <a data-val="Gangtok"></a>
                                              <a data-val="Pelling"></a>
                                              <a data-val="Namchi"></a>
                                              <a data-val="Lachung"></a>
                                              <a data-val="Lachen"></a>
                                          </div>
                                      </div>
                                      <div class="ui-dropdown">
                                          <span class="ui-dropdown--selected" data-label="Find in">Price</span>
                                          <span class="ui-dropdown--reset" data-text="Price"></span>
                                          <div class="ui-dropdown--items">
                                              <a data-val="₹ 2000/Per Night"></a>
                                              <a data-val="₹ 3000/Per Night"></a>
                                              <a data-val="₹ 3400/Per Night"></a>
                                              <a data-val="₹ 3700/Per Night"></a>
                                              <a data-val="₹ 2000/Per Night"></a>
                                          </div>
                                      </div>
                                      <button type="submit" class="btn bg--lgrn c--white hvr:bg--dgrn">Filter <img src="assets/img/icons/filter.png"/></button>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
              <div class="swipersstates">
                  <div class="w-100 swiper swiper_9">
                    <swiper [config]="config" class="mySwiper">
                      <ng-template swiperSlide><a href="javascript:">All Places</a></ng-template>
                      <ng-template swiperSlide *ngFor="let item of stateList"><a href="javascript:">{{item}}</a></ng-template>
                    </swiper>
                  </div>
                  <!-- swipe nav -->
                  <div class="swiper-nav">
                      <div class="swiper-button-prev swiper_9--prev"></div>
                      <div class="swiper-button-next swiper_9--next"></div>
                  </div>
              </div>
              <div class="availabilitylist">
                  <div class="result"><span><img src="assets/img/icons/searchresult_icon.png" class=""/></span> <strong>Low availability to stay</strong>, Book soon to secure</div>
                  <div class="resultfound"><strong>23 stays found in your search location</strong></div>
              </div>

          </div>
      </div>
  </section>

  <section class="og_searchresult bg-- mt-0 pt-0">
      <div class="main-container">
          <div class="inner-container flow-rootX3">
              <div class="search_result">
                  <div class="searchpanel_left">
                      <div class="stories__blcks">
                          <div class="__story">
                              <figure><a routerLink="details/xyz"><img src="assets/img/static/post-1.jpg"></a></figure>
                              <article class="flow-rootX3">
                                  <div class="topinfo flow-rootx3">
                                      <div class="ui-wishlist">
                                          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                          viewBox="0 0 492.4 422" style="enable-background:new 0 0 492.4 422;" xml:space="preserve">
                                              <path class="heart-fill" d="M246.2,412c-2.1,0-3.6-0.6-5-2L69.3,244.2l-0.4-0.3c-1-0.8-3-2.6-6.6-6.3c-2.1-2.1-6.3-6.9-14.6-17.3
                                                  c-6.6-8.3-12.7-17-17.9-25.7c-5.1-8.5-9.7-19-13.8-31.2c-4-11.9-6-23.6-6-34.8c0-37.3,10.7-66.7,31.9-87.4
                                                  C63.1,20.5,93.2,10,131.3,10c10.2,0,20.9,1.8,31.6,5.4c10.9,3.6,21.3,8.6,30.6,14.8c9.9,6.5,18.4,12.6,25.5,18.3
                                                  c7,5.6,13.7,11.6,20.1,17.9l7.1,7.1l7.1-7.1c6.3-6.3,13-12.3,20.1-17.9c7.1-5.7,15.7-11.8,25.5-18.3c9.4-6.2,19.7-11.2,30.6-14.8
                                                  c10.7-3.6,21.4-5.4,31.6-5.4c38.1,0,68.2,10.5,89.5,31.2c21.2,20.7,31.9,50,31.9,87.4c0,37.5-20.2,76.7-59.9,116.5L251.2,410
                                                  C249.8,411.4,248.3,412,246.2,412z"/>
                                              <path class="heart-stroke" d="M361,20c35.9,0,62.9,9.3,82.5,28.4c19.4,19,28.9,45.2,28.9,80.2c0,17-4.6,34.5-13.6,52.2c-9.5,18.6-24.1,37.8-43.4,57.2
                                                  L246.2,401L76.5,237.3l-0.7-0.6l-0.7-0.6c-0.5-0.4-2.1-1.8-5.7-5.4c-1.9-2-5.9-6.5-14-16.6c-6.4-8-12.1-16.2-17.2-24.6
                                                  c-4.7-7.9-9-17.7-12.9-29.2c-3.6-10.9-5.4-21.6-5.4-31.6c0-35,9.4-61.2,28.9-80.2C68.4,29.3,95.4,20,131.3,20
                                                  c9.1,0,18.7,1.6,28.4,4.9c10.1,3.4,19.6,8,28.3,13.7c9.6,6.3,17.9,12.3,24.7,17.7c6.7,5.4,13.2,11.2,19.2,17.2l14.1,14.1
                                                  l14.1-14.1c6-6,12.5-11.8,19.2-17.2c6.9-5.5,15.2-11.5,24.8-17.7c8.7-5.7,18.2-10.3,28.3-13.7C342.3,21.6,351.9,20,361,20 M361,0
                                                  c-11.4,0-22.9,2-34.8,5.9c-11.8,3.9-22.8,9.3-33,15.9c-10.2,6.7-18.9,13-26.2,18.8c-7.3,5.9-14.3,12.1-20.9,18.7
                                                  c-6.6-6.6-13.6-12.8-20.9-18.7c-7.3-5.9-16.1-12.1-26.2-18.8c-10.2-6.7-21.2-12-33-15.9C154.3,2,142.7,0,131.3,0
                                                  c-41,0-73.2,11.4-96.4,34.1C11.6,56.8,0,88.3,0,128.6c0,12.3,2.2,24.9,6.5,37.9c4.3,13,9.2,24.1,14.7,33.2
                                                  c5.5,9.2,11.7,18.1,18.7,26.8c7,8.7,12,14.7,15.2,18c3.2,3.3,5.7,5.7,7.6,7.1l171.4,165.4c3.3,3.3,7.3,5,12.1,5
                                                  c4.8,0,8.8-1.7,12.1-4.9l171.2-164.9c41.9-41.9,62.9-83.2,62.9-123.6c0-40.3-11.6-71.8-34.9-94.5C434.2,11.4,402.1,0,361,0L361,0z
                                                  "/>
                                          </svg>
                                      </div>
                                      <span class="tag">Homestays in Darjeeling</span>
                                      <h4 class="h4"><a routerLink="details/xyz">Little Singamari Homestay</a></h4>
                                      <p class="paragraph">5 guests · 2 bedrooms · 2 beds · 1.5 bathrooms · Wifi · Kitchen</p>
                                  </div>
                                  <div class="card_bottom">
                                      <div class="left">
                                      <h4 class="h4 c--lgrn fw--m">₹ 2800 / night</h4>
                                      <p class="c--light-txt">₹ 6000 total before taxes</p>
                                      </div>
                                      <div class="right">
                                          <div class="star-rating with_value" data-rating="4.5">
                                              <span></span>
                                              <span></span>
                                              <span></span>
                                              <span></span>
                                              <span></span>
                                          </div>
                                      </div>
                                  </div>
                              </article>
                          </div>
                          <div class="__story">
                              <figure><a routerLink="details/xyz"><img src="assets/img/static/post-2.jpg"></a></figure>
                              <article class="flow-rootX3">
                                  <div class="topinfo flow-rootx3">
                                      <div class="ui-wishlist">
                                          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                          viewBox="0 0 492.4 422" style="enable-background:new 0 0 492.4 422;" xml:space="preserve">
                                              <path class="heart-fill" d="M246.2,412c-2.1,0-3.6-0.6-5-2L69.3,244.2l-0.4-0.3c-1-0.8-3-2.6-6.6-6.3c-2.1-2.1-6.3-6.9-14.6-17.3
                                                  c-6.6-8.3-12.7-17-17.9-25.7c-5.1-8.5-9.7-19-13.8-31.2c-4-11.9-6-23.6-6-34.8c0-37.3,10.7-66.7,31.9-87.4
                                                  C63.1,20.5,93.2,10,131.3,10c10.2,0,20.9,1.8,31.6,5.4c10.9,3.6,21.3,8.6,30.6,14.8c9.9,6.5,18.4,12.6,25.5,18.3
                                                  c7,5.6,13.7,11.6,20.1,17.9l7.1,7.1l7.1-7.1c6.3-6.3,13-12.3,20.1-17.9c7.1-5.7,15.7-11.8,25.5-18.3c9.4-6.2,19.7-11.2,30.6-14.8
                                                  c10.7-3.6,21.4-5.4,31.6-5.4c38.1,0,68.2,10.5,89.5,31.2c21.2,20.7,31.9,50,31.9,87.4c0,37.5-20.2,76.7-59.9,116.5L251.2,410
                                                  C249.8,411.4,248.3,412,246.2,412z"/>
                                              <path class="heart-stroke" d="M361,20c35.9,0,62.9,9.3,82.5,28.4c19.4,19,28.9,45.2,28.9,80.2c0,17-4.6,34.5-13.6,52.2c-9.5,18.6-24.1,37.8-43.4,57.2
                                                  L246.2,401L76.5,237.3l-0.7-0.6l-0.7-0.6c-0.5-0.4-2.1-1.8-5.7-5.4c-1.9-2-5.9-6.5-14-16.6c-6.4-8-12.1-16.2-17.2-24.6
                                                  c-4.7-7.9-9-17.7-12.9-29.2c-3.6-10.9-5.4-21.6-5.4-31.6c0-35,9.4-61.2,28.9-80.2C68.4,29.3,95.4,20,131.3,20
                                                  c9.1,0,18.7,1.6,28.4,4.9c10.1,3.4,19.6,8,28.3,13.7c9.6,6.3,17.9,12.3,24.7,17.7c6.7,5.4,13.2,11.2,19.2,17.2l14.1,14.1
                                                  l14.1-14.1c6-6,12.5-11.8,19.2-17.2c6.9-5.5,15.2-11.5,24.8-17.7c8.7-5.7,18.2-10.3,28.3-13.7C342.3,21.6,351.9,20,361,20 M361,0
                                                  c-11.4,0-22.9,2-34.8,5.9c-11.8,3.9-22.8,9.3-33,15.9c-10.2,6.7-18.9,13-26.2,18.8c-7.3,5.9-14.3,12.1-20.9,18.7
                                                  c-6.6-6.6-13.6-12.8-20.9-18.7c-7.3-5.9-16.1-12.1-26.2-18.8c-10.2-6.7-21.2-12-33-15.9C154.3,2,142.7,0,131.3,0
                                                  c-41,0-73.2,11.4-96.4,34.1C11.6,56.8,0,88.3,0,128.6c0,12.3,2.2,24.9,6.5,37.9c4.3,13,9.2,24.1,14.7,33.2
                                                  c5.5,9.2,11.7,18.1,18.7,26.8c7,8.7,12,14.7,15.2,18c3.2,3.3,5.7,5.7,7.6,7.1l171.4,165.4c3.3,3.3,7.3,5,12.1,5
                                                  c4.8,0,8.8-1.7,12.1-4.9l171.2-164.9c41.9-41.9,62.9-83.2,62.9-123.6c0-40.3-11.6-71.8-34.9-94.5C434.2,11.4,402.1,0,361,0L361,0z
                                                  "/>
                                          </svg>
                                      </div>
                                      <span class="tag">Homestays in Darjeeling</span>
                                      <h4 class="h4"><a routerLink="details/xyz">OG Tea Village Homestay</a></h4>
                                      <p class="paragraph">5 guests · 2 bedrooms · 2 beds · 1.5 bathrooms · Wifi · Kitchen</p>
                                  </div>
                                  <div class="card_bottom">
                                      <div class="left">
                                      <h4 class="h4 c--lgrn fw--m">₹ 4200 / night</h4>
                                      <p class="c--light-txt">₹ 6000 total before taxes</p>
                                      </div>
                                      <div class="right">
                                          <div class="star-rating with_value" data-rating="4.5">
                                              <span></span>
                                              <span></span>
                                              <span></span>
                                              <span></span>
                                              <span></span>
                                          </div>
                                      </div>
                                  </div>
                              </article>
                          </div>
                          <div class="__story">
                              <figure><a routerLink="details/xyz"><img src="assets/img/static/post-3.jpg"></a></figure>
                              <article class="flow-rootX3">
                                  <div class="topinfo flow-rootx3">
                                      <div class="ui-wishlist">
                                          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                          viewBox="0 0 492.4 422" style="enable-background:new 0 0 492.4 422;" xml:space="preserve">
                                              <path class="heart-fill" d="M246.2,412c-2.1,0-3.6-0.6-5-2L69.3,244.2l-0.4-0.3c-1-0.8-3-2.6-6.6-6.3c-2.1-2.1-6.3-6.9-14.6-17.3
                                                  c-6.6-8.3-12.7-17-17.9-25.7c-5.1-8.5-9.7-19-13.8-31.2c-4-11.9-6-23.6-6-34.8c0-37.3,10.7-66.7,31.9-87.4
                                                  C63.1,20.5,93.2,10,131.3,10c10.2,0,20.9,1.8,31.6,5.4c10.9,3.6,21.3,8.6,30.6,14.8c9.9,6.5,18.4,12.6,25.5,18.3
                                                  c7,5.6,13.7,11.6,20.1,17.9l7.1,7.1l7.1-7.1c6.3-6.3,13-12.3,20.1-17.9c7.1-5.7,15.7-11.8,25.5-18.3c9.4-6.2,19.7-11.2,30.6-14.8
                                                  c10.7-3.6,21.4-5.4,31.6-5.4c38.1,0,68.2,10.5,89.5,31.2c21.2,20.7,31.9,50,31.9,87.4c0,37.5-20.2,76.7-59.9,116.5L251.2,410
                                                  C249.8,411.4,248.3,412,246.2,412z"/>
                                              <path class="heart-stroke" d="M361,20c35.9,0,62.9,9.3,82.5,28.4c19.4,19,28.9,45.2,28.9,80.2c0,17-4.6,34.5-13.6,52.2c-9.5,18.6-24.1,37.8-43.4,57.2
                                                  L246.2,401L76.5,237.3l-0.7-0.6l-0.7-0.6c-0.5-0.4-2.1-1.8-5.7-5.4c-1.9-2-5.9-6.5-14-16.6c-6.4-8-12.1-16.2-17.2-24.6
                                                  c-4.7-7.9-9-17.7-12.9-29.2c-3.6-10.9-5.4-21.6-5.4-31.6c0-35,9.4-61.2,28.9-80.2C68.4,29.3,95.4,20,131.3,20
                                                  c9.1,0,18.7,1.6,28.4,4.9c10.1,3.4,19.6,8,28.3,13.7c9.6,6.3,17.9,12.3,24.7,17.7c6.7,5.4,13.2,11.2,19.2,17.2l14.1,14.1
                                                  l14.1-14.1c6-6,12.5-11.8,19.2-17.2c6.9-5.5,15.2-11.5,24.8-17.7c8.7-5.7,18.2-10.3,28.3-13.7C342.3,21.6,351.9,20,361,20 M361,0
                                                  c-11.4,0-22.9,2-34.8,5.9c-11.8,3.9-22.8,9.3-33,15.9c-10.2,6.7-18.9,13-26.2,18.8c-7.3,5.9-14.3,12.1-20.9,18.7
                                                  c-6.6-6.6-13.6-12.8-20.9-18.7c-7.3-5.9-16.1-12.1-26.2-18.8c-10.2-6.7-21.2-12-33-15.9C154.3,2,142.7,0,131.3,0
                                                  c-41,0-73.2,11.4-96.4,34.1C11.6,56.8,0,88.3,0,128.6c0,12.3,2.2,24.9,6.5,37.9c4.3,13,9.2,24.1,14.7,33.2
                                                  c5.5,9.2,11.7,18.1,18.7,26.8c7,8.7,12,14.7,15.2,18c3.2,3.3,5.7,5.7,7.6,7.1l171.4,165.4c3.3,3.3,7.3,5,12.1,5
                                                  c4.8,0,8.8-1.7,12.1-4.9l171.2-164.9c41.9-41.9,62.9-83.2,62.9-123.6c0-40.3-11.6-71.8-34.9-94.5C434.2,11.4,402.1,0,361,0L361,0z
                                                  "/>
                                          </svg>
                                      </div>
                                      <span class="tag">Homestays in Darjeeling</span>
                                      <h4 class="h4"><a routerLink="details/xyz">Sala Tress</a></h4>
                                      <p class="paragraph">5 guests · 2 bedrooms · 2 beds · 1.5 bathrooms · Wifi · Kitchen</p>
                                  </div>
                                  <div class="card_bottom">
                                      <div class="left">
                                      <h4 class="h4 c--lgrn fw--m">₹ 2800 / night</h4>
                                      <p class="c--light-txt">₹ 6000 total before taxes</p>
                                      </div>
                                      <div class="right">
                                          <div class="star-rating with_value" data-rating="4.5">
                                              <span></span>
                                              <span></span>
                                              <span></span>
                                              <span></span>
                                              <span></span>
                                          </div>
                                      </div>
                                  </div>
                              </article>
                          </div>
                      </div>
                  </div>
                  <div class="searchpanel_right">
                      <figure><img src="assets/img/static/searchresultthumb.jpg" class=""/></figure>
                      <a class="btn bg--lgrn c--white hvr:bg--dgrn" href="javascript:"><span><img src="assets/img/icons/arrow-leftW.svg"/></span> Map View</a>
                  </div>
              </div>
              <div class="search_pagination text-center pt2 pb2 flow-rootx">
                  <div class="pagination mb-2">
                      <ul>
                          <li class="arrow-left"><a href="javascript:void(0)"><img src="assets/img/icons/arrow-leftG.svg"></a></li>
                          <li class="active"><a href="javascript:void(0)">1</a></li>
                          <li><a href="javascript:void(0)">2</a></li>
                          <li><a href="javascript:void(0)">3</a></li>
                          <li class="extend"><a href="javascript:void(0)">...</a></li>
                          <li class="more-numbers"><a href="javascript:void(0)">50</a></li>
                          <li class="arrow-right"><a href="javascript:void(0)"><img src="assets/img/icons/arrow-rightG.svg"></a></li>
                      </ul>
                  </div>
                  <h5 class="c--black h5">1 – 20 of 23 places to stay</h5>
                  <p class="c--light-txt">Additional fees apply. Taxes may be added.</p>
              </div>
          </div>
      </div>
  </section>
</main>
