
<main>
  <section class="common_header pt-0 propertydetails_head">
      <!-- <figure><img src="assets/img/heros/property_details_banner.jpg" class="w-100" alt="Place Name" title="Place Name"/></figure> -->
      <div class="videowrapperinside">
      <iframe class="vimeo-iframe" src="https://player.vimeo.com/video/73663607?autoplay=1&amp;loop=1&amp;muted=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;background=1&amp;autopause=0" allow="autoplay; encrypted-media" allowfullscreen="" data-keepplaying="" width="100%" height="100%" frameborder="0"></iframe>
      </div>
      <div class="maincontwrp">
          <div class="main-container">
              <div class="inner-container property_details">
                  <div class="grid">
                      <div class="flow-rootx3">
                          <h3 class="h2 fw--m c--white">₹ 2,800 / night <span>for 2 guest (incl. breakfast)</span></h3>
                          <h5 class="c--border h6">₹ 8,400 total before taxes (For 3 nights)</h5>
                      </div>
                      <div class="star-rating with_value" data-rating="3.5">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="weatherarea pt-0">
      <div class="main-container">
          <div class="inside">
              <article class="c--black flow-rootx3">
              <h4 class="h5">Wheather Forecast</h4>
              <h5 class="small2">Check your suitable time to go</h5>
              </article>
              <div class="icon"><a href="javascript:"><img src="assets/img/icons/cloud.svg" alt="" title=""/></a></div>
          </div>
      </div>
  </section>
  <section class="og__property-details">
      <div class="main-container">
          <div class="inner-container flow-rootX3">
              <div class="og__section--header w-100">
                  <div class="flow-rootx3">
                      <h1 class="h2 fw--m">Little Singamari Homestay</h1>
                      <p class="c--light-txt">Darjeeling, West Bengal, India</p>
                  </div>
                  <div class="share__panel">
                      <p>Share <img src="assets/img/icons/share.svg"></p>
                      <ul>
                          <li class="facebook"><a href="javascript:void(0)"><img src="assets/img/icons/footer/facebook.svg"></a></li>
                          <li class="twitter"><a href="javascript:void(0)"><img src="assets/img/icons/footer/twitter.svg"></a></li>
                          <li class="linkedin"><a href="javascript:void(0)"><img src="assets/img/icons/footer/linkedin.svg"></a></li>
                          <li class="whatsapp"><a href="javascript:void(0)"><img src="assets/img/icons/footer/whatsapp.svg"></a></li>
                      </ul>
                  </div>
              </div>


              <div class="static-content">
                  <p>Situated just 2 km away from the town, the Homestay overlooks the Singtam valley with picturesque tea gardens. Many tourist places like Zoo, HMI, Ropeway, Tenzing Rock etc are within walking distance. We offer spacious clean rooms and home cooked food.</p>
                  <p>The homestay offers a meditation room and a Buddhist stupa within the campus. Factory visit at Happy valley Tea Estate, short treks, jungle walk, logistic for local site seeing can be organized on request. A spectacular view of Mount Kanchenjunga, the third highest mountain in the world, towering at a height of 28169 feet/8586 meters is just a mere 5 mins walk from our home.</p>
                  <p>St Josephs School and College established over 125 years ago are in the same vicinity. For guests spiritually inclined there is a church nearby, where there is daily mass offering in the morning. Leisurely morning walks with the cool air and mountain view can be a thing to cherish for a long time after leaving the Queen of the hills, Darjeeling.</p>
              </div>

             <div class="section-navs flow-root">
                  <p>Jump to:</p>
                  <ol>
                      <li><a href="javascript:">What this place offers</a></li>
                      <li><a href="javascript:">Top attractions</a></li>
                      <li><a href="javascript:">How to Reach</a></li>
                      <li><a href="javascript:">Darjeeling</a></li>
                  </ol>
             </div>
          </div>
      </div>
  </section>


  <section class="og__property--gallery">
      <div class="main-container">
          <div class="inner-container">
              <figure><img src="assets/img/static/gallery-1.jpg" alt="Little Singamari Homestay" title="Little Singamari Homestay"/></figure>
              <figure><img src="assets/img/static/gallery-2.jpg" alt="Little Singamari Homestay" title="Little Singamari Homestay"/></figure>
              <figure><img src="assets/img/static/gallery-3.jpg" alt="Little Singamari Homestay" title="Little Singamari Homestay"/></figure>
              <a href="javascript:" class="btn bg--white c--txt hvr:bg--lgrn hvr:c--white">VIEW ALL PHOTOS</a>
          </div>
      </div>
  </section>


  <section class="og__property--features bg-- mt-0">
      <div class="main-container">
          <div class="inner-container">
              <div class="og__property--features-block flow-rootX4">
                  <div class="--amenities flow-rootX3">
                      <h4 class="h4">What This Place Offers</h4>
                      <ul>
                          <li><span><img src="assets/img/icons/amenities/mountain.svg"/></span> Mountain view</li>
                          <li><span><img src="assets/img/icons/amenities/chef.svg"/></span> Kitchen</li>
                          <li><span><img src="assets/img/icons/amenities/wifi-1.svg"/></span> Wifi</li>
                          <li><span><img src="assets/img/icons/amenities/balcony.svg"/></span> Shared patio or balcony</li>
                          <li><span><img src="assets/img/icons/amenities/garden.svg"/></span> Garden</li>
                          <li><span><img src="assets/img/icons/amenities/luggage.svg"/></span> Luggage drop-off allowed</li>
                          <li><span><img src="assets/img/icons/amenities/breakfast.svg"/></span> Breakfast</li>
                          <li><span><img src="assets/img/icons/amenities/alarm.svg"/></span> Smoke alarm</li>
                      </ul>
                      <a class="btn-arw" href="javascript:">View All Amenities <img src="assets/img/icons/arrow-rightG.svg"/></a>
                  </div>

                  <div class="--rooms flow-rootX3">
                      <div class="og__section--header">
                      <h4 class="h4">Where You'll Sleep</h4>
                      <!-- swipe nav -->
                      <div class="swiper-nav">
                          <div class="swiper-button-prev swiper_2--prev"></div>
                          <div class="swiper-button-next swiper_2--next"></div>
                      </div>
                      </div>
                      <div class="w-100 swiper swiper_2">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                  <div class="room--card flow-rootX2">
                                      <div class="iconsetwrap flow-rootx">
                                          <div class="iconset">
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                          </div>
                                          <div class="iconset">
                                              <span><img src="assets/img/icons/amenities/mattress.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/mattress.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/mattress.svg"/></span>
                                          </div>
                                      </div>
                                      <h5 class="h5 fw--m">Bedroom 1</h5>
                                      <p>4 queen beds, 2 floor mattresses</p>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="room--card flow-rootX2">
                                      <div class="iconsetwrap flow-rootx">
                                          <div class="iconset">
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                          </div>
                                          <div class="iconset">
                                              <span><img src="assets/img/icons/amenities/mattress.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/mattress.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/mattress.svg"/></span>
                                          </div>
                                      </div>
                                      <h5 class="h5 fw--m">Bedroom 1</h5>
                                      <p>4 queen beds, 2 floor mattresses</p>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="room--card flow-rootX2">
                                      <div class="iconsetwrap flow-rootx">
                                          <div class="iconset">
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                          </div>
                                          <div class="iconset">
                                              <span><img src="assets/img/icons/amenities/mattress.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/mattress.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/mattress.svg"/></span>
                                          </div>
                                      </div>
                                      <h5 class="h5 fw--m">Bedroom 1</h5>
                                      <p>4 queen beds, 2 floor mattresses</p>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="room--card flow-rootX2">
                                      <div class="iconsetwrap flow-rootx">
                                          <div class="iconset">
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/bed.svg"/></span>
                                          </div>
                                          <div class="iconset">
                                              <span><img src="assets/img/icons/amenities/mattress.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/mattress.svg"/></span>
                                              <span><img src="assets/img/icons/amenities/mattress.svg"/></span>
                                          </div>
                                      </div>
                                      <h5 class="h5 fw--m">Bedroom 1</h5>
                                      <p>4 queen beds, 2 floor mattresses</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="flow-rootX2 static-content">
                      <h2>Property Rules</h2>
                      <ul>
                          <li>Quarantine protocols are being followed as per local government authorities</li>
                          <li>Guests from containment zones are not allowed</li>
                          <li>Shared resources in common areas are properly sanitized</li>
                          <li>Property staff is trained on hygiene guidelines</li>
                          <li>Guests with fever are not allowed</li>
                          <li>Guests without Aarogya Set app are allowed</li>
                          <li>Hand sanitizer is provided in guest accommodation and common areas</li>
                      </ul>
                  </div>

                  <div class="flow-rootX2 static-content">
                      <h2>Child & Extra Bed Policy</h2>
                      <ul>
                          <li>No extra bed will be provided to accommodate any child included in the booking.</li>
                          <li>An extra bed will be provided to accommodate any additional guest included in the
                          booking for a charge mentioned below. (Subject to availability).</li>
                          <li>INR 2500 will be charged for an extra sofa cum bed per guest. (To be paid at the
                          property).</li>
                      </ul>
                  </div>

                  <div class="flow-rootX2 static-content">
                      <h2>Things To Know</h2>
                      <ul>
                          <li>Lorem Ipsum is simply dummy text of the printing.</li>
                          <li>It has been the industry's standard dummy text ever since the book.</li>
                          <li>It was popularised in the 1960s with the release of Letraset sheets.</li>
                      </ul>
                  </div>

                  <div class="flow-rootX2 static-content">
                      <h2>Meet Host</h2>
                      <div class="host">
                          <figure><img src="assets/img/static/host_thumb.jpg"/></figure>
                          <article>
                              <h5 class="h5 fw--m">Hosted by Yukta Mukherjee</h5>
                              <p>Joined in September 2021</p>
                          </article>
                      </div>
                  </div>

                  <div class="flow-rootX2 static-content">
                      <h3 class="fw--m">About Yukta</h3>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the book.</p>
                      <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.</p>
                  </div>

                  <div class="property-review">
                      <div class="blok"><span><img src="assets/img/icons/review_star.png"/></span> 13 Reviews</div>
                      <div class="blok"><span><img src="assets/img/icons/identity_icon.png"/></span> Identity verified</div>
                  </div>
              </div>
              <aside>
                  <div class="propertyreserve">
                      <div class="heading">
                          <div class="left">
                          <h4 class="h3 c--lgrn fw--m">₹ 2,800 / night</h4>
                          <p class="c--white">₹ 8,400 total before taxes</p>
                          </div>
                          <div class="right">
                              <div class="star-rating with_value" data-rating="4.5">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                              </div>
                          </div>
                      </div>
                      <div class="content flow-rootX2">
                          <div class="frmwrp">
                              <div class="form-element">
                                  <p class="form-head">Destination</p>
                                  <input class="form-field" type="text" placeholder="Darjeeling">
                              </div>

                              <div class="form-element">
                                  <p class="form-head">From - To</p>
                                  <input class="form-field" type="text" placeholder="25-27 Feb, 2022">
                              </div>

                              <div class="form-element">
                                  <p class="form-head">Visitors</p>
                                  <input class="form-field" type="text" placeholder="Guest">
                              </div>
                          </div>
                          <div class="roomselect">
                              <article>
                                  <h4 class="h5">You won't be charged yet</h4>
                                  <p class="c--light-txt">Check-in: After 12:00 pm</p>
                              </article>
                              <div class="ui-dropdown ml-auto">
                                  <span class="ui-dropdown--selected" data-label="Select Room">Select Room</span>
                                  <span class="ui-dropdown--reset" data-text="Select Room"></span>
                                  <div class="ui-dropdown--items">
                                      <a data-val="All"></a>
                                      <a data-val="Bedroom 1"></a>
                                      <a data-val="Bedroom 2"></a>
                                      <a data-val="Bedroom 3"></a>
                                  </div>
                              </div>
                          </div>
                          <div class="details">
                              <ul>
                                  <li>₹2800 x 3 nights <span>₹400</span></li>
                                  <li>Cleaning fee <span>₹400</span></li>
                                  <li>Service fee <span>₹491</span></li>
                                  <li>Total before taxes <span>₹9,291</span></li>
                              </ul>
                          </div>
                          <div class="action text-center">
                          <button type="submit" class="size:expandedX btn bg--lgrn c--white hvr:bg--dgrn">Reserve</button>
                          </div>
                      </div>
                  </div>
              </aside>
          </div>
      </div>
  </section>

  <section class="og__top_attraction bg--lgraybg mt-0 bg--">
      <div class="main-container">
          <div class="inner-container flow-rootX2">
              <div class="og__section--header mb-2 pb-2">
                  <h3 class="h3">Top Attractions</h3>
                  <!-- swipe nav -->
                  <div class="swiper-nav">
                      <div class="swiper-button-prev swiper_4--prev"></div>
                      <div class="swiper-button-next swiper_4--next"></div>
                  </div>
              </div>
              <div class="w-100 swiper swiper_4">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="card-style--5 flow-rootX2">
                              <figure>
                                  <img src="assets/img/static/place-1.jpg" alt="Rumtek" title="Rumtek"/>
                              </figure>
                              <article class="flow-rootx2">
                                  <span class="c--lgrn d-inline-block h5">Rumtek</span>
                                  <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                              </article>
                          </div>
                      </div>

                      <div class="swiper-slide">
                          <div class="card-style--5 flow-rootX2">
                              <figure>
                                  <img src="assets/img/static/place-2.jpg" alt="Nathula Pass" title="Nathula Pass"/>
                              </figure>
                              <article class="flow-rootx2">
                                  <span class="c--lgrn d-inline-block h5">Nathula Pass</span>
                                  <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                              </article>
                          </div>
                      </div>

                      <div class="swiper-slide">
                          <div class="card-style--5 flow-rootX2">
                              <figure>
                                  <img src="assets/img/static/place-3.jpg" alt="Tsomgo Lake" title="Tsomgo Lake"/>
                              </figure>
                              <article class="flow-rootx2">
                                  <span class="c--lgrn d-inline-block h5">Tsomgo Lake</span>
                                  <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                              </article>
                          </div>
                      </div>

                      <div class="swiper-slide">
                          <div class="card-style--5 flow-rootX2">
                              <figure>
                                  <img src="assets/img/static/place-1.jpg" alt="Rumtek" title="Rumtek"/>
                              </figure>
                              <article class="flow-rootx2">
                                  <span class="c--lgrn d-inline-block h5">Rumtek</span>
                                  <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                              </article>
                          </div>
                      </div>

                      <div class="swiper-slide">
                          <div class="card-style--5 flow-rootX2">
                              <figure>
                                  <img src="assets/img/static/place-2.jpg" alt="Nathula Pass" title="Nathula Pass"/>
                              </figure>
                              <article class="flow-rootx2">
                                  <span class="c--lgrn d-inline-block h5">Nathula Pass</span>
                                  <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                              </article>
                          </div>
                      </div>

                      <div class="swiper-slide">
                          <div class="card-style--5 flow-rootX2">
                              <figure>
                                  <img src="assets/img/static/place-3.jpg" alt="Tsomgo Lake" title="Tsomgo Lake"/>
                              </figure>
                              <article class="flow-rootx2">
                                  <span class="c--lgrn d-inline-block h5">Tsomgo Lake</span>
                                  <p class="desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                              </article>
                          </div>
                      </div>

                  </div>
              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
          </div>
      </div>
  </section>

  <section class="howtoreach mt-0 bg-- flow-rootx">
      <div class="main-container">
          <div class="inner-container">
              <div class="summary">
                  <div class="details border-none">
                      <div class="static-content flow-rootX2 max_width_100">
                          <h2>How to Reach</h2>
                          <div class="travel">
                              <figure><img src="assets/img/icons/flight.svg"></figure>
                              <article>By Air</article>
                          </div>
                          <p>Darjeeling is 100 kms approximately away from the nearest airport i.e. Bagdogra Airport(IXB). Flights are available from all major cities.It takes one couple of hours to travel from Bagdogra to Darjeeling. On the way you can experience the beauty of the himalayan roads, rivers, hills, tea gardens and Green Valleys.</p>
                          <div class="travel">
                              <figure><img src="assets/img/icons/train.svg"></figure>
                              <article>By Train</article>
                          </div>
                          <p>To reach Darjeeling by train, one may opt to reserve the ticket on the Darjeeling Himalayan narrow gauge that connects Darjeeling from New Jalpaiguri. It is one of the most prestigious as well as heritage journey in India. Well, the new Jalpaiguri Railway Station is the closest broad gauge railway station from Darjeeling that connects to all other major cities in India.</p>
                          <p>The toy train for Darjeeling starts at the New Jalpaiguri Railway Station (NJP) and goes all the way to Darjeeling travelling a distance of 88kms. There are of course short joy rides and other short distance connections. In most part the railway track runs parallel with the Hill Cart Road and at many points even crisscrosses it.The diesel loco hauled train takes about 7 hours 15 minutes to reach its destination.</p>
                      </div>
                  </div>
              </div>
              <aside>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30703094.980518598!2d64.43969385234843!3d20.053106555097216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sin!4v1646138790899!5m2!1sen!2sin" width="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </aside>
          </div>
      </div>
  </section>

  <!-- ======= POPULAR PLACES ======= -->
  <app-popular-places></app-popular-places>
  <!-- ======= POPULAR PLACES ======= -->

      <!-- ======= TESTIMONIAL ======= -->
      <app-testimonials></app-testimonials>
      <!-- ======= TESTIMONIAL ======= -->
</main>
