<main>
  <section class="common_header pt-0 text-center">
      <figure><img src="assets/img/heros/stories_details_banner.jpg" class="w-100"/></figure>
  </section>

  <section class="stories stories-details mt-0 flow-rootx">
      <div class="main-container">
          <div class="inner-container">
              <div class="details">
                  <div class="article__arrow-container">
                      <div class="left__article-arrow"><a href="javascript:void(0)"><img src="assets/img/icons/arrow-leftW.svg"></a></div>
                      <div class="right__article-arrow"><a href="javascript:void(0)"><img src="assets/img/icons/arrow-rightW.svg"></a></div>
                  </div>
                  <div class="static-content">
                      <h1>Winter of the Unassuming Matriarch My Experience at PhaMa Homes</h1>
                      <div class="datewrap flow-rootX mt-2 mb-2 pb-2">
                          <div class="date mb-0">
                              <span>February 4th, 2022</span>
                              <span>5 min read</span>
                          </div>
                          <div class="share__panel">
                              <p>Share the story <img src="assets/img/icons/share.svg"></p>
                              <ul>
                                  <li class="facebook"><a href="javascript:void(0)"><img src="assets/img/icons/footer/facebook.svg"></a></li>
                                  <li class="twitter"><a href="javascript:void(0)"><img src="assets/img/icons/footer/twitter.svg"></a></li>
                                  <li class="linkedin"><a href="javascript:void(0)"><img src="assets/img/icons/footer/linkedin.svg"></a></li>
                                  <li class="whatsapp"><a href="javascript:void(0)"><img src="assets/img/icons/footer/whatsapp.svg"></a></li>
                              </ul>
                          </div>
                      </div>
                      <h2>The massive bed at the center of the room</h2>
                      <p>It is late in the forenoon as I saunter down the steep flight of stairs, leading from the main road to the Cobalt Blue building, standing out from the rest of its neighbors. The open sewer canal on one side kept me constant company throughout, from the moment I disembarked from the taxi till I set foot inside the three storied building.</p>
                      <p>There is a large sign outside, in bold letters declaring itself to all visitors and one cannot miss it even at a distance.</p>
                      <p>It is dark and cool inside, a few cane chairs placed in the foyer and a blinking cctv monitor screen stare at you. I call out for Dorjee, who I had contacted before arriving but is greeted by a gentle elderly lady. She shows me to my room; a spacious airy sunlit room with a giant teak bed overlooking the dense bamboo groves below.</p>
                      <p><img src="assets/img/static/story-details-1.jpg"></p>

                      <h2>Work from home is a breeze</h2>
                      <p>I’m invited upstairs by Amchung (aunt in the local Sikkimese dialect) as she is referred to by all in the household, after placing my luggage in the room. She serves sweet milk tea in the ample kitchen that has a large frame of Italy  sitting bang in the centre of the dining table. The tea is served in beautiful Tibetan motif porcelain cups with lids alongside some cookies and Khabzey (handmade Tibetean deep fried cookie).</p>
                      <p>As I make small talk to break the stillness of the room, another elderly woman appears, clad in a brown woolen shawl with frayed tasseled edges.  Her hair is grey and her face is wrinkled with numerous lines, a testament to the numerous decades that she has withstood. She is called “Aji” by Amchung,  meaning elder sister in the Sherpa language. She looks at me with her soiled milky eyes and I offer her a smile and a cookie ! She politely declines and Amchung offers me lunch.</p>
                      <p><img src="assets/img/static/story-details-2.jpg"></p>

                      <h2>First meal at the Homestay</h2>
                      <p>The meal at once made me feel at home with its simplicity and familiarity – yellow masoor dal tempered with cumin seeds, thin stalks of  crisp aloo bhaji, dry chicken curry cooked with powdered spices over a bed of white rice. It was one of the most satisfying home cooked meals I have had in a long time. With my belly full and my body craving sleep, Amchung packed a little flask of hot water for my room and I headed back for a mid day siesta.</p>
                      <p>By the time I woke it was late in the evening and the sun had set down beyond the western horizon. The double layer of the thick blanket over the duvet had created enough insulation to make me sweat in my sleep and also unable to move under its heavy mass. Amchung suggested we make beef momo’s for dinner and I eagerly obliged.</p>
                      <p><img src="assets/img/static/story-details-3.jpg"></p>

                      <h2>The simple yet delicious lunch</h2>
                      <p>The meal at once made me feel at home with its simplicity and familiarity – yellow masoor dal tempered with cumin seeds, thin stalks of  crisp aloo bhaji, dry chicken curry cooked with powdered spices over a bed of white rice. It was one of the most satisfying home cooked meals I have had in a long time. With my belly full and my body craving sleep, Amchung packed a little flask of hot water for my room and I headed back for a mid day siesta.</p>
                      <p>By the time I woke it was late in the evening and the sun had set down beyond the western horizon. The double layer of the thick blanket over the duvet had created enough insulation to make me sweat in my sleep and also unable to move under its heavy mass. Amchung suggested we make beef momo’s for dinner and I eagerly obliged.</p>
                      <p><img src="assets/img/static/story-details-4.jpg"></p>

                      <h2>Amchung making momos</h2>
                      <p>As she got busy kneading the Sooji Atta (semolina flour) dough; my first time making momo’s out of it, I helped her chop the onions for the mince stuffing. She kept insisting that she and Aji would do everything by themselves, but I felt so much at home that I wanted to get involved. As we chatted and took turns rolling out the dough and folding the momo, Amchung and Aji offered me their “raksi” local liquor with hot water. The old unruly house cat dropped by and pleaded for some dry fish and attention from Amchung. I took a liking for him immediately and he reciprocated by settling in on my lap.</p>
                      <p>The momo’s turned out to be fantastic which we had with a dallay and churpi chutney and were joined later by my colleague Richard who was also putting up at PhaMa.</p>
                      <p><img src="assets/img/static/story-details-5.jpg"></p>

                      <h2>Shyafaley breakfast the next morning</h2>
                      <p>Like a loving aunt, Amchung filled a rubber hot water bag for me to keep inside my bed to be warm at night. I was awakened late into the night by the howls of jackals deep in the valley below, followed by the whimpering of dogs. All else was dead quiet and I went back to sleep again.</p>
                      <p>Morning comes early at PhaMa Homestay for the two lady hosts who begin their day at 5 am. Amchung offers the daily prayer ritual while Aji attends to the three dogs Hega, Murphy and _. They then get started with the breakfast prep for the guests staying with them. By the time I go up for my morning tea at 8, Amchung and Aji has already prepared breakfast of Shyaphalay and last night’s leftover fried momo’s.</p>
                      <p><img src="assets/img/static/story-details-6.jpg"></p>

                      <h2>The aging tom cat with no name or front teeth !</h2>
                      <p>I leave for work around 11 am with Richard and I get a small tiffin box with an orange for my lunch along with a spoon and napkin packed on the table. Its these small details, these tiny gestures that would otherwise go away unnoticed that made a world of difference to my stay here and really experience living in a “Home” and not just a homestay.</p>
                      <p>Amchung , in her humble demure ways is characteristic of the mild gentle love of a mother like a warm embrace in a cold Himalayan town far from home. She cares for the home and the hearth and any person who visits her home. She makes it her priority to take care of them personally and it is so wonderful that I chanced upon her at PhaMa to meet such a pure soul.</p>
                      <p><img src="assets/img/static/story-details-7.jpg"></p>

                      <h2>Aji serving me dinner</h2>
                      <p>Her soft voice and her ever smiling face are the memories which I will take from this marvelous homestay, besides the delectable hot meals she cooked by her and served by Aji !  Prerna.S</p>
                      <p><img src="assets/img/static/story-details-8.jpg"></p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="og__stories-carousel-nonreverse bg-- mt-0">
      <div class="main-container">
          <div class="inner-container flow-rootX3">
              <div class="og__section--header">
              <h2 class="h3">Read More Related Stories</h2>
              </div>
              <div class="grid-4">
                  <div class="card-style--5 flow-rootX2">
                      <figure>
                          <a href="stories-details.php"><img src="assets/img/static/story-1.jpg" alt="How to road trip the North East part of India" title="How to road trip the North East part of India"/></a>
                      </figure>
                      <article class="flow-rootx2">
                          <span class="c--lgrn d-inline-block">Activities</span>
                          <h4 class="h5"><a href="stories-details.php">How to road trip the North East part of India</a></h4>
                          <p class="c--light-txt"><span>February 4th, 2022</span> • <span>5 min read</span></p>
                          <p class="desc">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from.</p>
                      </article>
                  </div>
                  <div class="card-style--5 flow-rootX2">
                      <figure>
                      <a href="stories-details.php"><img src="assets/img/static/story-2.jpg" alt="How to road trip the North East part of India" title="How to road trip the North East part of India"/></a>
                      </figure>
                      <article class="flow-rootx2">
                          <span class="c--lgrn d-inline-block">Destinations</span>
                          <h4 class="h5"><a href="stories-details.php">How to road trip the North East part of India</a></h4>
                          <p class="c--light-txt"><span>February 4th, 2022</span> • <span>5 min read</span></p>
                          <p class="desc">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from.</p>
                      </article>
                  </div>
                  <div class="card-style--5 flow-rootX2">
                      <figure>
                      <a href="stories-details.php"><img src="assets/img/static/story-1.jpg" alt="How to road trip the North East part of India" title="How to road trip the North East part of India"/></a>
                      </figure>
                      <article class="flow-rootx2">
                          <span class="c--lgrn d-inline-block">Activities</span>
                          <h4 class="h5"><a href="stories-details.php">How to road trip the North East part of India</a></h4>
                          <p class="c--light-txt"><span>February 4th, 2022</span> • <span>5 min read</span></p>
                          <p class="desc">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from.</p>
                      </article>
                  </div>
                  <div class="card-style--5 flow-rootX2">
                      <figure>
                      <a href="stories-details.php"><img src="assets/img/static/story-2.jpg" alt="How to road trip the North East part of India" title="How to road trip the North East part of India"/></a>
                      </figure>
                      <article class="flow-rootx2">
                          <span class="c--lgrn d-inline-block">Destinations</span>
                          <h4 class="h5"><a href="stories-details.php">How to road trip the North East part of India</a></h4>
                          <p class="c--light-txt"><span>February 4th, 2022</span> • <span>5 min read</span></p>
                          <p class="desc">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from.</p>
                      </article>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
